<context>
{% include 's255/components/background_interpreter.jinja2' %}
</context>

<visual_report>
{{ visual_report }}
</visual_report>

<omics_report>
{{ omics_report }}
</omics_report>

<instruction>
{% include 's255/components/instruction_interpreter.jinja2' %}
</instruction>
