<context>
{% include 's255/components/background_omics.jinja2' %}
</context>

<user_input>
{{ user_input }}
</user_input>

<instruction>
{% include 's255/components/instruction_omics.jinja2' %}
</instruction>